{% extends 'base.html' %}
{% block head %}

    <style>
        html,
        body {
        /* css for full size background image */
            background: url(/static/img/background-1.jpg) no-repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover; /* safari */
            -moz-background-size: cover; /* firefox */
            -o-background-size: cover; /* Opera */

            /* Ensure the html element always takes up the full height of the browser window */
            min-height: 100%;

            background-color: black;
            color: #fff;
            text-align: center;
            text-shadow: 0 1px rgba(0,0,0,.5);
            
        }

        #mastlogo {
            max-width: 100%;
            height: auto;
        }

        a {
            color: #fff;
            font-family: 'Nunito', sans-serif;
        }

        a:hover {
            color: #33cccc;
            text-decoration: none;
        }

        .btn-default,
        .btn-default:hover,
        .btn-default:focus {
            color: #333;
            text-shadow: none;
            background-color: #fff;
            border: 1px solid #fff;
        }

        #enter-button {
            background: transparent;
            color: white;
            border: 2px solid white;
            font-family: 'Nunito', sans-serif;
            text-decoration: none;
        }

        #enter-button:hover {
            background: #33cccc;
            color: white;
            border: 2px solid #33cccc;
            font-family: 'Nunito', sans-serif;
        }

        p {
           font-family: 'Nunito', sans-serif; 
        }

        /* Extra markup and styles for table-esque vertical and horizontal centering */
        .site-wrapper {
            display: table;
            width: 100%;
            height: 100%;
            min-height: 100%;
        }

        .site-wrapper-inner {
            display: table-cell;
            vertical-align: auto;
        }

        .cover-container {
            margin-right: auto;
            margin-left: auto;
        }

        /* Padding for spacing */
        .inner {
            padding: 30px;
        }

        .inner.cover {
            padding-top: 20%;
            width: 100%;
        }

        /* Header */
        .masthead-brand {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 160px;
            height: auto;
        }

        .masthead-nav > li {
            display: inline-block;
        }

        .masthead-nav > li + li {
            margin-left: 20px;
        }

        .masthead-nav > li > a {
            padding-right: 0;
            padding-left: 0;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            opacity: .7;
/*            color: rgba(255, 255, 255, .95);
*/            border-bottom: 2px solid transparant;
            font-family: 'Nunito', sans-serif;
            letter-spacing: 1px;
        }

        .masthead-nav > li > a:hover,
        .masthead-nav > li > a:focus {
            background-color: transparent;
            border-bottom-color: #a9a9a9;
            border-bottom-color: rgba(255, 255, 255, .25);
            color: #fff;
            opacity: 1;
        }

        .masthead-nav > .active > a,
        .masthead-nav > .active > a:hover,
        .masthead-nav > .active > a:focus {
            color:  #fff;
            padding-bottom: 1px;
/*            border-bottom: 1px solid #fff;
*/            opacity: 1;
        }

        @media (min-width: 768px) {
            .masthead-brand {
                float: left;
            }
            .masthead-nav {
                float: right;
            }
        }

        .cover {
            padding: 0 20px;
        }
        .cover .btn-lg {
            padding: 10px 20px;
            font-weight: bold;
        }

        .mastfoot {
            color: #999;
            color: rgba(255, 255, 255, .5);
        }

        @media (min-width: 768px) {
            /* Pull out the header and footer */
            .masthead {
                postion: fixed;
                top: 0;
            }
            .mastfoot {
                position: fixed;
                bottom: 0;
            }

            /* Start the vertical centering */
            .site-wrapper-inner {
                vertical-align: middle;
            }

            /* Handle the widths */
            .masthead,
            .mastfoot,
            .cover-container {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            .masthead,
            .mastfoot,
            .cover-container {
                width: 700px;
            }
        }

    </style>

{% endblock %}
{% block body %}

<!-- Get starting location or Nav to map -->    
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="msthead clearfix">
                    <div class="inner">
                        <a href="/"><img src="/static/img/logo-1.png" class="masthead-brand" alt="Weekend Wanderlust"></a>

                        <ul class="nav masthead-nav">
                            <!-- <li class="active">
                                <a href="/">Home</a>
                            </li> -->

                            <li>
                                <a href="/weekend-wanderlust">Explore</a>
                            </li>

                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <div><img src="/static/img/statement-1.png" alt="Weekend Wanderlust" align="middle" id="mastlogo"></div><br><br>
<!--                     <h2 class="cover-heading">Live Your Weekend Adventure.</h2>
 -->
                    <p class="lead">An interactive map for weekend explorers in San Francisco Bay Area 
                    <small><br>
                    Upcoming events, nearby hiddengems, outdoor escapes and more.</small>
                    </p><br>

                    <p class="lead"><a id="enter-button" class="btn btn-lg btn-info" href="/weekend-wanderlust">Explore the Map</a></p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><small>Designed and developed by </small><a href="https://twitter.com/terriwonglee"><small>Terri W.  </small></a>
                        <small>Built at </small><a href="https://hackbrightacademy.com/"><small>Hackbright Academy.</small></a></p>
                        <p>2016 Weekend Wanderlust. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    


        <!-- Empty -->

        <div class="col-sm-8">

        </div>

    </div>

{% endblock %}