<!DOCTYPE html5>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weekend Wanderlust</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
    <link href="static/map.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css">
</head>
<body>

<!-- loader -->
<div id="wait" class="loader">
  <div class="loader-inner ball-scale-multiple">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="narrative">locating...</div>
</div>

<!-- logo -->
<div class="logo-overlay">
<a href="/"><img src="/static/img/wwm-logo-2.svg" class="logo" alt="Weekend Wanderlust Map"></a>
</div>

<!-- Modal box for trip preview -->
<div id="tripPreviewModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span id="closeTripPreviewModal" class="close">x</span>
      <h2>Trip Note</h2>
    </div>
    <div id="tripPreviewContent"class="modal-body"></div>
    <div class="modal-footer">
      <span id="sendSmsBtn" class="modal-button">Send this note via sms</span>
      <input type="text" id="receiverNumber" class="type-number" name="receiver_number" placeholder="Type number and enter">
      <span id="status-area" class="modal-button status-area"></span>
    </div>
  </div>
</div>

<!-- Filter by date-tier -->
<div class='sidebar pad2'>
<nav id='menu-ui' class='menu-ui pad2'>
    <a href='#' class='active' id='filter-all'>All Weekend</a>
    <a href='#' id='filter-friday'>Friday Night</a>
    <a href='#' id='filter-saturday'>Saturday</a>
    <a href='#' id='filter-sunday'>Sunday</a>
</nav>
</div>

<!-- The map -->
<div id='map'></div>

<!-- Type address input box -->
<input id="type-address" type="text" name="address" placeholder="Type address and enter">

<!-- To current location button -->
<button id="geolocate" class='ui-button'>To current location</button>
<!-- Activate Explorer Circle -->
<button id="show-circle" class="ui-button">Explorer circle</button>

<!-- Instruction/Count nearby bar -->
<div class='label' id='start'>Click an event to show nearby</div>
<div class='label hide' id='gems'><b><span id="counter"></span></b> hiddengems within 1 mile</div>
<div class='label hide' id='explorer'><b>Move the circle to discover more</b></div>

<!-- More-info box with scrollTo -->
<div id='coordinates' class='ui'></div>
<!-- Grand More Info with overlay scrollTo -->
<div id="grandMoreInfo" class='animatedPanel'>
  <div id="tabs-bar" class="tabs-labels">
    <span class="tabs-label tabs-label--active" id="tab-tips">Tips</span>
    <span class="tabs-label" id="tab-photos">Photos</span>
    <span class="tabs-label" id="tab-other">Hours</span>
    <span id="closeMoreInfoBtn" onclick="closeMoreInfoPanel()">x</span>
  </div>
  <div id="more-info" class="tabs-panels">  
    
    <div id="section1" class="tabs-panel ui-details">
      <div class="ui-details-content">
        <h1>Tips from Foursquare users</h1>
        <div id="tips-content"></div>
      </div>
    </div>
    <div id="section2" class="tabs-panel ui-share">
      <div class="ui-share-content">
        <h1>Photos by Foursquare users</h1>
        <div id="foursquare-photos"></div>
      </div>
    </div>
    <div id="section3" class="tabs-panel commands">
      <li class="commands-item hours-title"><span class="item-title">Normal Hours</span></li>
      <div id="normal-hours-content"></div>
      
      <li class="commands-item commands-item--gap hours-title"><span class="item-title">Popular Hours</span></li>
      <div id="popular-hours-content"></div>
    </div>
  </div>
</div>

<!-- Trip panel -->
<p class="flip" onclick="openPanel()">Click to open Trip Panel</p>
<div id="trip-panel">
  <span id="tripPanelClose" onclick="closePanel()">x</span>
  <p>Trip Planner Panel</p><br> 
  <div><b>Selected waypoints:</b>
    <ol id='waypoint-list'></ol></div>
  <b>Selected travel profile: </b><div id="selected-profile" class="inline"></div><br><br>
  <div>
    <b>Distance: </b><div id="distance" class="inline"></div><br>
    <b>Estimated time: </b><div id="duration" class="inline"></div><br>
  </div><br>
  <!-- radio for travel profile selection -->
  <form action="/get_travel_profile">
    Way of traveling:<br>
    <input type="radio" name="profile" value="walking">Walking
    <input type="radio" name="profile" value="cycling">Cycling
    <input type="radio" name="profile" value="driving">Driving<br>
  </form>
  <!-- hidden elements in trip panel -->
  <div id="trip-note-content"></div>
  <div id="status"></div>
  <!-- buttons in trip panel -->
  <button id="get-route" class="panel-button">Show route</button>
  <button id="clear-route" class="invisible">Clear route</button>
  <button id="start-over" class="panel-button">Start over</button><br>

  <button id="remove-circle" class="panel-button">Show all</button> 
  <button id="view-trip-note" class="panel-button">View trip note</button>
</div>


<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script src="/static/map.js"></script>


  <!-- For testing -->

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.js"></script>

  <script src="/static/map-spec.js"></script>-->


</body>
</html>